.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0px;
    z-index: 998;
    height: 6em;
    background-color: #7cb4b8;
  
  }


  .footer {


    text-align: center;
  
  
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #7cb4b8;
    z-index: 50;
    padding: 0px;
    margin: 0px;
  
    bottom: 1em;
  
    height: 6em;
  
  }
  


  .main{


    padding-top: 1em;
    padding-bottom: 2em;

  }

/* Ajoutez ces styles à votre fichier CSS */

/* Style pour chaque élément de liste (enregistrement) */
.etudiant-record {
    border-bottom: 1px solid #ccc; /* Bordure inférieure pour créer une ligne */
    padding: 8px 0; /* Espace intérieur vertical pour chaque enregistrement */
  }
  
  /* Style pour le titre de chaque étudiant */
  .etudiant-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Style pour la boîte entourant chaque étudiant */
  .etudiant-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  